#nav-placeholder {width: 100%;}


/* 전체 */
.sub01-wrap {width: 100%; margin-bottom: 150px;}
.sub01 {width: 1200px; display: flex; margin: 0 auto; padding-top: 85px; gap: 35px;}


/* 왼쪽 부분 */
.side-menu-wrap {flex: 2; display: flex; gap: 15px; flex-direction: column; margin-top: 70px;}
.side-menu {width: 100%; position: relative; transition: transform 0.3s ease;}
.side-menu-btn {width: inherit; background: var(--gray-05); border-radius: var(--point-radius-15); text-align: left; padding: 15px 20px; color: var(--gray-80); font-weight: var(--font-bold); transition: background 0.25s ease; position: relative; z-index: 5;}
.side-menu-btn::before {content: '';  background: url(/images/btn-arrow-gray.png) no-repeat; width: 18px; height: 20px; position: absolute; right: 0; transform: translateY(-50%) rotate(0deg); transform-origin: left center; transition: transform 0.2s ease; top: 55%;}
.side-menu-btn:hover {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn:hover::before {content: '';  background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}
.side-menu-btn.active {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn.active::before {background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}

.side-menu-pan {width: inherit; background: var( --bg-blue); position: absolute; left: 0; top: 25px; border-radius: var(--point-radius-15); max-height: 0; overflow: hidden; transition: max-height 0.3s ease;}
.side-menu-pan.active {max-height: 1200px; overflow: visible;}
.side-menu-pan ul li a {display: block;  padding: 15px 20px; font-size: var(--font-15); color: var(--gray-80); }
.side-menu-pan ul li a:hover {color: var(--sub-color); font-weight: var(--font-extrabold);}
.side-menu-pan ul li:first-child {padding-top: 25px;}



/* 오른쪽 부분 */
/* 상단 타이틀 */
.a-side {flex: 9;}
.intro-title-wrap {display: flex; align-items: center; justify-content: space-between;}
.intro-title {font-family: var(--point-font); font-size: var(--font-35); color: var(--sub-color);}
.intro-nav {display: flex;}
.intro-nav a {display: block; padding: 0 15px; font-size: var(--font-15); color: var(--gray-40); position: relative;}
.intro-nav a::after {content: ''; position: absolute; top: 3px; right: 0; width: 1px; height: 70%; background: var(--gray-40);}
.intro-nav a:last-child {color: var(--gray-60);}
.intro-nav a:last-child::after {content: none;}
/* 하단 탭 */
.intro-tab-wrap {width: 85%; display: flex; align-items: center;  gap: 0; margin-top: 30px;}
.intro-tab-wrap a {display: block; flex: 1; color: var(--gray-80); padding: 5px 10px; text-align: center; font-synthesis: none; position: relative;}
.intro-tab-wrap a:hover {color: var(--sub-color); font-weight: var(--font-bold);}
.intro-tab-wrap a::before {content: ''; position: absolute; width: 100%; height: 3px; background: #D7D7D7; left: 50%; bottom: 0; transform: translateX(-50%);}
.intro-tab-wrap a::after {content: ''; position: absolute; background: linear-gradient(45deg, var(--point-grenn01), var(--btn-blue02)); width: 0%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}
.intro-tab-wrap a:hover::after {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); width: 100%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 1;}




/* 게시판 */
/* 라벨 내용 숨기기 */
.label-hide {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;}

.board-wrap {width: 100%;}
.selection-box {display: flex; justify-content: space-between; gap: 310px; margin-top: 35px;}
.page-selection {display: flex; gap: 10px; position: relative;}
.search-selection {display: flex; gap: 10px; position: relative;}
.page-selection::before {content: ''; position: absolute; background: url(/images/select-tri.png) no-repeat; width: 10px; height: 8px; right: 5px; top: 12px;}
.search-selection::before {content: ''; position: absolute; background: url(/images/select-tri.png) no-repeat; width: 10px; height: 8px; left: 75px; top: 12px;} 
/* 공통  */
form select {border: 1px solid var(--gray-bg); color: var(--gray-80); font-family: var(--font); font-size: var(--font-15); font-weight: var(--font-medium); padding: 5px; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
form select:focus {outline: none;}
form option {color: var(--gray-80); font-family: var(--font); font-size: var(--font-15); font-weight: var(--font-medium);}
/* 개별 */
#selection-number {width: 110px; height: 30px;}
#search-type {width: 90px; height: 30px;}
#search-text {height: 30px; border: 1px solid var(--gray-bg); font-family: var(--font); font-size: var(--font-15); font-weight: var(--font-medium); padding: 5px;}
#search-text:focus {outline: none;}
/* 버튼 */
.board-btn {width: 70px; height: 30px; background: var(--gray-bg); border-radius: var(--point-radius-10); color: var(--white); font-size: var(--font-15);}
.board-btn:hover {background: var(--hover-bg);}

/* 게시판 본문 내용 */
#notice-board {width: 100%; margin-top: 20px;}
#notice-board thead {background: var(--gray-02);}
#notice-board thead th {padding: 10px 5px;}
#notice-body tr {cursor: pointer;}
#notice-body tr:hover {color: var(--hover-text);}
#notice-body tr td {text-align: center; padding: 15px 5px;}
#notice-body tr .notice-board-title {text-align: left}

/* 게시판 하단 숫자 버튼 */
.notice-page {width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 60px;}
#notice-number {width: 50%; display: flex; justify-content: space-between;}
#notice-number li a {display: block; width: 35px; height: 35px; text-align: center; line-height: 35px; color: var(--gray-80);}
#notice-number li a:hover {background: var(--gray-bg); color: var(--white);}
#notice-number li a.active {background: var(--gray-bg); color: var(--white);}

/* 게시판 하단 숫자 화살표 */
.pagination {display: flex; gap: 15px; margin-left: 30px;}
.skip-01 {background: url(/images/pagination-arrow01.png) no-repeat; width: 12px; height: 18px; cursor: pointer;}
.skip-10 {background: url(/images/pagination-arrow02.png) no-repeat; width: 30px; height: 18px; cursor: pointer;}




/* ⭐⭐⭐반응형⭐⭐⭐ */
@media (max-width: 768px){
  * {margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden;}
  html, body {width: 100%;}

  .sub01 {width: 100%; margin: 0; padding: 0;  overflow: hidden;}
  .a-side {width: 100%; margin: 0;}
  .side-menu-wrap {display: none;}
  .intro-title-wrap {width: 100%; display: flex; align-items: center; justify-content: center; margin: 0;}
  .intro-title {margin: 0; text-align: center; padding: 30px 0;}
  .intro-nav {display: none;}

  .board-wrap {width: 95%; margin: auto;}
  .selection-box {width: 100%; gap: 10px;}
  .page-selection::before {content: none;}
  .search-selection::before {content: none;}
  .board-btn {display: none;}
  thead tr th {font-size: var(--font-15);}
  thead tr th:nth-child(4), thead tr th:nth-child(5) {display: none;}
  #notice-body tr td {font-size: var(--font-15);}
  #notice-body tr td:nth-child(4), #notice-body tr td:nth-child(5) {display: none;}
  #notice-number {width: 100%;}
  .pagination {gap: 0;}
  .skip-01, .skip-10 {width: 30px;}
  
}