#nav-placeholder {width: 100%;}


/* 전체 */
.sub01-wrap {width: 100%; margin-bottom: 150px;}
.sub01 {width: 1200px; display: flex; margin: 0 auto; padding-top: 85px; gap: 35px;}


/* 왼쪽 부분 */
.side-menu-wrap {flex: 2; display: flex; gap: 15px; flex-direction: column; margin-top: 70px;}
.side-menu {width: 100%; position: relative; transition: transform 0.3s ease; z-index: 0;}
.side-menu-btn {width: inherit; background: var(--gray-05); border-radius: var(--point-radius-15); text-align: left; padding: 15px 20px; color: var(--gray-80); font-weight: var(--font-semibold); transition: background 0.25s ease; position: relative; z-index: 5;}
.side-menu-btn a {display: block; color: var(--gray-80); font-weight: var(--font-semibold);}
.side-menu-btn a:hover {color: var(--white);}
.side-menu-btn::before {content: '';  background: url(/images/btn-arrow-gray.png) no-repeat; width: 18px; height: 20px; position: absolute; right: 0; transform: translateY(-50%) rotate(0deg); transform-origin: left center; transition: transform 0.2s ease; top: 55%;}
.side-menu-btn:hover {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn:hover::before {content: '';  background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}
.side-menu-btn.active {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn.active::before {background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}

.side-menu-pan {width: inherit; background: var(--bg-blue); position: absolute; left: 0; top: 25px; border-radius: var(--point-radius-15); max-height: 0; overflow: hidden; transition: max-height 0.3s ease;}
.side-menu-pan.active {max-height: 1200px; overflow: visible;}
.side-menu-pan ul li a {display: block;  padding: 15px 20px; font-size: var(--font-15); color: var(--gray-80); }
.side-menu-pan ul li a:hover {color: var(--sub-color); font-weight: var(--font-extrabold);}
.side-menu-pan ul li:first-child {padding-top: 25px;}



/* 오른쪽 부분 */
/* 상단 타이틀 */
.a-side {flex: 9;}
.intro-title-wrap {display: flex; align-items: center; justify-content: space-between;}
.intro-title {font-family: var(--point-font); font-size: var(--font-35); color: var(--sub-color);}
.intro-nav {display: flex;}
.intro-nav a {display: block; padding: 0 15px; font-size: var(--font-15); color: var(--gray-40); position: relative;}
.intro-nav a::after {content: ''; position: absolute; top: 3px; right: 0; width: 1px; height: 70%; background: var(--gray-40);}
.intro-nav a:last-child {color: var(--gray-60);}
.intro-nav a:last-child::after {content: none;}
/* 하단 탭 */
.intro-tab-wrap {width: 85%; display: flex; align-items: center;  gap: 0; margin-top: 30px;}
.intro-tab-wrap a {display: block; flex: 1; color: var(--gray-80); padding: 5px 10px; text-align: center; font-synthesis: none; position: relative;}
.intro-tab-wrap a:hover {color: var(--sub-color); font-weight: var(--font-bold);}
.intro-tab-wrap a::before {content: ''; position: absolute; width: 100%; height: 3px; background: #D7D7D7; left: 50%; bottom: 0; transform: translateX(-50%);}
.intro-tab-wrap a::after {content: ''; position: absolute; background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); width: 0%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}
.intro-tab-wrap a:hover::after {background: linear-gradient(45deg, var(--btn-blue01), var(--btn-blue02)); width: 100%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 1;}



/* 오른쪽 부분 */
/* 상단 타이틀 */
.a-side {flex: 9;}
.intro-title-wrap {display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;}
.intro-title {font-family: var(--point-font); font-size: var(--font-35); color: var(--sub-color);}
.intro-nav {display: flex;}
.intro-nav a {display: block; padding: 0 15px; font-size: var(--font-15); color: var(--gray-40); position: relative;}
.intro-nav a::after {content: ''; position: absolute; top: 3px; right: 0; width: 1px; height: 70%; background: var(--gray-40);}
.intro-nav a:last-child {color: var(--gray-60);}
.intro-nav a:last-child::after {content: none;}



/* 배너 */
.sub-banner-wrap {width: 100%; margin-bottom: 40px;}
.banner-text {flex: 1;}
.banner-text p:first-child {padding-top: 0;}
.banner-text p {font-weight: var(--font-regular); text-align: justify; line-height: 30px; padding: var(--padding-15) 0;}
.banner-img-wrap {display: flex; justify-content: space-between; gap: 30px;}
.banner-img {width: 33%; height: 230px; border-radius: var(--radius-20); border: 2px solid var(--gray-02);}
/* 이미지 바뀌는 부분 */
.banner-img01 {background: url(/images/sub05-banner-img01.png) no-repeat;}
.banner-img02 {background: url(/images/sub05-banner-img02.png) no-repeat;}
.banner-img03 {background: url(/images/sub05-banner-img03.png) no-repeat;}




/* 본문 내용 */
/* 공통 */
.paragraph {width: 90%; margin: auto; margin-bottom: 75px;}
.paragraph h2 {font-size: var(--font-30); font-weight: var(--font-bold); color: var(--sub-color); margin-bottom: 15px;}
.paragraph p {font-weight: var(--font-medium); text-align: justify; line-height: 25px;}
/* 내용01 - 추진현황 */
.condition-wrap {width: 100%; display: flex; justify-content: space-between; gap: 30px;}
.condition-title {width: 20%; background: var(--bg-dark-blue); padding: var(--padding-10) 0; text-align: center; border-radius: var(--point-radius-50); color: var(--white); position: relative; z-index: 10;}
.condition-text {width: 100%; height: 150px; background: var(--bg-blue); border-radius: var(--point-radius-30); padding: var(--padding-40) var(--padding-15);  margin-top: -20px; letter-spacing: -0.5px; z-index: -10; overflow-y: hidden;}
.condition-text .notice {color: var(--deep-sea-blue); font-size: var(--font-15); font-weight: var(--font-semibold); margin-top: var(--margin-05); line-height: 20px;}
.condition-text02 {padding: var(--padding-30)var(--padding-15);}
/* 내용02 - 추진분야 */
.branch-wrap {width: 100%; display: flex; flex-direction: column; gap: 20px; margin-top: 20px;}
.branch-title {display: inline-block; padding: var(--padding-10) var(--padding-25); background: var(--point-pink02); border-radius: var(--point-radius-20); color: var(--white);} 
.branch-text {padding: var(--padding-40); background: #FAFAFA; color: var(--gray-50); border-radius: var(--point-radius-20); font-weight: var(--font-medium); margin-top: -25px; line-height: 25px;}
/* 내용03 - 주요내용 */
.major-wrap {width: 100%; display: flex; flex-direction: column; gap: 15px;}
.major-text {position: relative;}
.major-text p {padding-left: var(--padding-20); font-weight: var(--font-medium); letter-spacing: -0.5px;}
.major-text::before {content: ''; position: absolute; width: 10px; height: 2px; background: var(--sub-color); top: 10px; left: 0;}
.major-img-wrap {width: 100%; display: flex; flex-wrap: wrap; gap: 25px; justify-content: center; margin-top: var(--margin-20);}
.major-img {width: 30%; height: 260px; border: 2px solid var(--gray-02); border-radius: var(--radius-20);}

/* 이미지 바뀌는 부분 */
.major-img01 {background: url(/images/sub05-major-img01.png) no-repeat center / cover;}
.major-img02 {background: url(/images/sub05-major-img02.png) no-repeat center / cover;}
.major-img03 {background: url(/images/sub05-major-img03.png) no-repeat center / cover;}
.major-img04 {background: url(/images/sub05-major-img04.png) no-repeat center / cover;}
.major-img05 {background: url(/images/sub05-major-img05.png) no-repeat center / cover;}
.major-img06 {background: url(/images/sub05-major-img06.png) no-repeat center / cover;}





/* ⭐⭐⭐반응형⭐⭐⭐ */
@media (max-width: 768px){
  * {margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden;}
  html, body {width: 100%;}

  .sub01-wrap {margin-bottom: 50px;}
  .sub01 {width: 100%; margin: 0; padding: 0; overflow: hidden;}
  .a-side {width: 100%; margin: 0;}
  .side-menu-wrap {display: none;}
  .intro-title-wrap {width: 100%; display: flex; align-items: center; justify-content: center; margin: 0;}
  .intro-title {margin: 0; text-align: center; padding: 30px 0;}
  .intro-nav {display: none;}
  .sub-banner-wrap {width: 100%; flex-direction: column; gap: 0; height: auto;}
  .banner-img-wrap {flex-wrap: wrap; justify-content: center;}
  .banner-img {width: 100%; flex: none; height: 295px; border-radius: 0;}
  .banner-text {width: 100%; flex: none;  padding: 0px 20px;}
  .banner-img {width: 45%; height: 230px; border-radius: var(--radius-20); border: 2px solid var(--gray-02);}

  .paragraph {width: 75%; margin: auto; margin-bottom: 75px; text-align: center;}
  .paragraph h2 {font-size: var(--font-30); font-weight: var(--font-bold); color: var(--sub-color); margin-bottom: 15px;}
  .paragraph p {font-weight: var(--font-medium); text-align: justify; line-height: 35px;}

  /* 내용01 - 추진현황 */
  .condition-wrap {width: 100%; display: flex; flex-direction: column; gap: 30px;}
  .condition-title {width: 20%; background: var(--bg-dark-blue); padding: var(--padding-10) 0; text-align: center; border-radius: var(--point-radius-50); color: var(--white); position: relative; z-index: 10;}
  .condition-text {width: 100%; height: 150px; background: var(--bg-blue); border-radius: var(--point-radius-30); padding: 40px 50px; margin-top: -20px; letter-spacing: -0.5px; z-index: -10;}
  .condition-text p {line-height: 25px;}
  .condition-text .notice {color: var(--deep-sea-blue); font-size: var(--font-15); font-weight: var(--font-semibold); margin-top: var(--margin-05); line-height: 20px;}
  .condition-text02 {padding: 35px 30px;}

  /* 내용02 - 추진분야 */
  .branch-text {text-align: justify;}

  /* 내용03 - 주요내용 */
  .major-img-wrap {width: 100%; gap: 10px;}
  .major-img {width: 45%; height: 160px;}
  .major-text::before {top: 15px;}
}




/* 클릭 유도 */
.side-menu,
.side-menu-pan ul li:first-child a
{position: relative;}

/* 반대 모양 → 서브 메뉴 */
.side-menu::after,
.side-menu-pan ul li:first-child a::after
{content: 'click'; position: absolute; width: 40px; height: 40px; background: var(--btn-blue01); border-radius: 15px 15px 15px 0; color: var(--white); font-size: var(--font-15); animation: click 01s infinite; top: -40px; right: -40px; z-index: 50; text-align: center; line-height: 40px; box-shadow: var(--main-shadow);}

.side-menu::after
{right: -35px;}
.side-menu-pan ul li:first-child a::after
{top: -20px; right: 60px;}

@keyframes click {
  0% {opacity: 1;}
  50% {opacity: 1; background: var(--point-pink01);}
}