#nav-placeholder {width: 100%;}


/* 전체 */
.sub01-wrap {width: 100%; margin-bottom: 150px;}
.sub01 {width: 1200px; display: flex; margin: 0 auto; padding-top: 85px; gap: 35px;}


/* 왼쪽 부분 */
.side-menu-wrap {flex: 2; display: flex; gap: 15px; flex-direction: column; margin-top: 70px;}
.side-menu {width: 100%; position: relative; transition: transform 0.3s ease;}
.side-menu-btn {width: inherit; background: var(--gray-05); border-radius: var(--point-radius-15); text-align: left; padding: 15px 20px; color: var(--gray-80); font-weight: var(--font-semibold); transition: background 0.25s ease; position: relative; z-index: 5;}
.side-menu-btn::before {content: '';  background: url(/images/btn-arrow-gray.png) no-repeat; width: 18px; height: 20px; position: absolute; right: 0; transform: translateY(-50%) rotate(0deg); transform-origin: left center; transition: transform 0.2s ease; top: 55%;}
.side-menu-btn:hover {background: linear-gradient(45deg, var(--point-green01), var(--point-green02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn:hover::before {content: '';  background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}
.side-menu-btn.active {background: linear-gradient(45deg, var(--point-green01), var(--point-green02)); border-radius: var(--point-radius-15); color: var(--white);}
.side-menu-btn.active::before {background: url(/images/btn-arrow.png) no-repeat; transform: translateY(-50%) rotate(90deg); transform-origin: left center; top: 45%;}

.side-menu-pan {width: inherit; background: var(--bg-green); position: absolute; left: 0; top: 25px; border-radius: var(--point-radius-15); max-height: 0; overflow: hidden; transition: max-height 0.3s ease;}
.side-menu-pan.active {max-height: 1200px; overflow: visible;}
.side-menu-pan ul li a {display: block;  padding: 15px 20px; font-size: var(--font-15); color: var(--gray-80); }
.side-menu-pan ul li a:hover {color: var(--deep-green); font-weight: var(--font-extrabold);}
.side-menu-pan ul li:first-child {padding-top: 25px;}



/* 오른쪽 부분 */
/* 상단 타이틀 */
.a-side {flex: 9;}
.intro-title-wrap {display: flex; align-items: center; justify-content: space-between;}
.intro-title {font-family: var(--point-font); font-size: var(--font-35); color: var(--deep-green);}
.intro-nav {display: flex;}
.intro-nav a {display: block; padding: 0 15px; font-size: var(--font-15); color: var(--gray-40); position: relative;}
.intro-nav a::after {content: ''; position: absolute; top: 3px; right: 0; width: 1px; height: 70%; background: var(--gray-40);}
.intro-nav a:last-child {color: var(--gray-60);}
.intro-nav a:last-child::after {content: none;}
/* 하단 탭 */
.intro-tab-wrap {width: 85%; display: flex; align-items: center;  gap: 0; margin-top: 30px;}
.intro-tab-wrap a {display: block; flex: 1; color: var(--gray-80); padding: 5px 10px; text-align: center; font-synthesis: none; position: relative;}
.intro-tab-wrap a:hover {color: var(--deep-green); font-weight: var(--font-bold);}
.intro-tab-wrap a::before {content: ''; position: absolute; width: 100%; height: 3px; background: #D7D7D7; left: 50%; bottom: 0; transform: translateX(-50%);}
.intro-tab-wrap a::after {content: ''; position: absolute; background: linear-gradient(45deg, var(--point-grenn01), var(--point-green02)); width: 0%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}
.intro-tab-wrap a:hover::after {background: linear-gradient(45deg, var(--point-green01), var(--point-green02)); width: 100%; height: 3px; left: 50%; bottom: 0; transform: translateX(-50%); opacity: 1;}


/* 배너 */
.sub-banner {width: 100%; height: 10%; border-radius: var(--radius-15); background: url(/images/sub01-banner.png) center center / cover; margin-top: 20px; position: relative;}
.banner-text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); color: var(--white); padding: 0px 60px;}
.banner-text h3 {display: inline-block; font-family: var(--point-font); font-size: var(--font-25); background: var(--deep-green); padding: 8px 20px 5px 20px; margin-bottom: 15px; border-radius: 30px;}
.banner-text p {font-weight: var(--font-regular); line-height: 40px; margin-left: 50px; }
.banner-text .highlight {font-size: var(--font-25); font-weight: var( --font-semibold);}
/* 배너 설명 */
.banner-explain {width: 100%; padding: 65px 35px 45px 35px; margin-top: -25px; background: linear-gradient(180deg, var(--gray-03), var(--white))}
.banner-explain p {font-weight: var(--font-medium); line-height: 30px; text-align: justify; margin-bottom: 10px;}
.banner-explain span {display: flex; align-items: center; font-size: var(--font-15); padding: 5px;}
.banner-explain span::before {content: ''; width: 10px; height: 2px; background: var(--deep-green);margin-right: 10px;}

/* 본문 내용 */
/* 공통 */
.paragraph {width: 90%; margin: auto; margin-bottom: 75px;}
.paragraph h2 {font-size: var(--font-30); font-weight: var(--font-bold); color: var(--deep-green); margin-bottom: 15px;}
.paragraph p {font-weight: var(--font-medium); text-align: justify; line-height: 25px;}
.circle-wrap {margin: 30px 0; padding: 5px; display: flex; gap: 10px;}
/* 내용01  - 국립공원의 기능*/
.circle {display: flex; align-items: center; justify-content: center; width: 210px; height: 210px; border: 5px solid #7DBE6E; border-radius: 50%; font-weight: var(--font-medium); text-align: center; padding: 0 5px;}
.circle:nth-of-type(2n) {border: 5px solid #B9E6AA;}
/* 내용02 - 국립공원의 지정*/
.sentence-wrap {width: 100%; display: flex; flex-direction: column; gap: 20px; margin-top: 20px;}
.sentence-title {display: inline-block; padding: 10px 30px; background: #5FB950; border-radius: var(--point-radius-20); color: var(--white);} 
.sentence-text {padding: 30px 20px; background: #FAFAFA; border-radius: var(--point-radius-20); font-weight: var(--font-medium); margin-top: -10px;}

.spacer {margin-top: 30px;}

/* 내용03 - 우리나라의 국립공원 */
.sub-map {display: flex; align-items: center; justify-content: center; padding: 45px 0 300px 0;}






/* ⭐⭐⭐반응형⭐⭐⭐ */
@media (max-width: 768px){
  * {margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden;}
  html, body {width: 100%;}


  .sub01-wrap {margin-bottom: 50px;}
  .sub01 {width: 100%; margin: 0; padding: 0;  overflow: hidden;}
  .a-side {width: 100%; margin: 0;}
  .side-menu-wrap {display: none;}
  .intro-title-wrap {width: 100%; display: flex; align-items: center; justify-content: center; margin: 0;}
  .intro-title {margin: 0; text-align: center; padding: 30px 0;}
  .intro-nav {display: none;}
  /* 하단 탭 */
  .intro-tab-wrap {width: 100%; margin-top: 0;}
  .intro-tab-wrap a {display: block; flex: 1; height: 60px; padding: 5px 25px;}

  .sub-banner {width: 100%; height: 10%; border-radius: 0; padding: 50px;}
  .banner-text {text-align: center; }
  .banner-text p {text-align: justify; margin-left: 0;}

  .paragraph {width: 80%; text-align: center;}

  /* 내용01  - 국립공원의 기능*/
  .circle-wrap {flex-wrap: wrap; justify-content: center;}
  .circle {width: 155px; height: 155px; font-size: var(--font-15);}

  /* 내용02 - 국립공원의 지정*/
  .sentence-bundle {text-align: left;}
  .sentence-text {text-align: justify; margin-top: -20px;} 
  .sub01-wrap {position: relative; margin-bottom: 0; padding-bottom: 50px;}
  .paragraph-bg {position: absolute; width: 100%; height: 1000px; bottom: 0; background: url(/images/sub01-bg-mobile.png) center / cover; z-index: -100;}
  
}
